.cerca {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    background-color: #6c757d;
}

.carousel-inner .carousel-item {
    transition: transform 5s ease;
}

.carousel {
    position: absolute;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.top-image {
    object-position: 0% 20%;
}

.card {
    margin-top: 200px;

}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.slogan-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.slogan {
    color: white;
    font-size: 1.5rem;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}

footer {
    background-color: #000;
    color: #fff;
}

.bot-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
}


.chat-box {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    max-height: 400px;
    overflow-y: auto;
    background-color: black;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999;
}



#chatMessages {
    max-height: 300px;
    overflow-y: auto;
}

.chat-buttons {
    margin-top: 10px;
}

.chat-button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.message {
    margin-top: 10px;
}

.user-message {
    color: blue;
}

.bot-message {
    color: green;
}

.welcome-image {
    max-width: 60%;
    height: auto;
}


.close-button {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 15px;
}

.close-button {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 15px;
}



#logo {
    width: 80px;
    height: auto;
    cursor: pointer;
}