.cerca {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    background-color: #6c757d;
}

.carousel-inner .carousel-item {
    transition: transform 5s ease;
}

.carousel {
    position: absolute;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.top-image {
    object-position: 0% 20%;
}

.card {
    margin-top: 200px;

}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.slogan-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.slogan {
    color: white;
    font-size: 1.5rem;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}

footer {
    background-color: #000;
    color: #fff;
}