body{
    min-height: 100vh;
}


.cerca {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    background-color: #6c757d;
}


.btn:hover {
    background-color: #000000;
}


.carousel-inner .carousel-item {
    transition: transform 5s ease;
}

.carousel {
    position: absolute;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 410px;
    object-fit: cover;
}

.top-image {
    object-position: 0% 20%;
}

.card {
    margin-top: 120px;

}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
}
#dark-mode-btn {
    margin-left: auto;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}
.navbar{
    background-color: #000000;
}

.slogan-container {
    position: fixed;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 64px 0;
}
.logo-bg{
    background-color: #9bb8c287;
   
}
.slogan {
    color: white;
    font-size: 1.5rem;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}


footer {
    background-color: #000;
    color: #fff;
}

.bot-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
}


.chat-box {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    max-height: 400px;
    overflow-y: auto;
    background-color: black;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999;
}



#chatMessages {
    max-height: 300px;
    overflow-y: auto;
}

.chat-buttons {
    margin-top: 10px;
}

.chat-button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.message {
    margin-top: 10px;
}

.user-message {
    color: rgb(255, 255, 255);
}

.bot-message {
    color: #FFD700;
}

.welcome-image {
    max-width: 60%;
    height: auto;
}


.close-button {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 15px;
}

.close-button {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 15px;
}



#logo {
    width: 80px;
    height: auto;
    cursor: pointer;
}

#dark-mode-btn {
    background: white;
    border-radius: 999px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple C   olor Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
  
  
  #dark-mode-btn:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    border-color: white;
  }
  
  #dark-mode-btn i {
    margin-right: 8px;
  }
  
  body.dark-mode {
    background-color: #222;
    color: #fff;
}

body:not(.dark-mode) {
    background-color: #ffffff;
    color: #000;
}
body.dark-mode .navbar {
    background-color: #000; 
}

body.dark-mode .navbar-nav .nav-link {
    color: #fff;
}

body:not(.dark-mode) .navbar {
    background-color: #95c7ba; 
}

body:not(.dark-mode) .navbar-nav .nav-link {
    color: #000; 
}
body.dark-mode footer {
    background-color: #000000;
}
body:not(.dark-mode) footer {
    background-color: #95c7ba;
}
body.dark-mode table {
    color: #ffffff;
}


body:not(.dark-mode) table {
    color: #000000;
}
body.dark-mode p {
    color: #ffffff;
}

body:not(.dark-mode) p {
    color: #000000;
}



