.navbar-brand img {
    width: 400px;
    height: auto;
  }
  
  .navbar-custom {
    background-color: #222;
  }
  
  .navbar-brand img {
    width: 400px;
    height: auto;
  }
  
  body {
    background-color: #333;
  }
  
  .above-border {
    width: auto;
    text-align: center;
    background-color: #333;
    color: orange;
    border: 1px solid orange;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    z-index: 1;
  }
  
  .container-relative {
    position: relative;
  }
  
  .carousel-inner .carousel-item {
    transition: transform 5s ease;
  }
  