body {
    background-color: #000;
    color: #fff;
  }
  
  .card {
    background-color: #333;
  }
  
  .card-title {
    color: #fff;
  }
  
  .form-label {
    color: #fff;
  }
  
  .form-control {
    background-color: #444;
    color: #fff;
    border: 1px solid #888;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  #errorDiv {
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .is-invalid {
    border-color: #dc3545 !important;
  }
  
  .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
  }
  
  .modal-content {
    background-color: #333;
    color: #fff;
  }
  
  .modal-title {
    color: #fff;
  }
  
  .modal-body {
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .btn-close {
    color: #fff;
  }
  
  .invalid-feedback {
    color: #dc3545;
  }
